.article-view {
    padding: 0 10px;

    .header-img {
        width: 100%;
        max-height: 400px;
        margin-bottom: 10px;

        img {
            display: block;
            max-width: 100%;
            max-height: 400px;
            margin: 0 auto;
        }
    }
}

.comments-section {
    margin-top: 20px;

    > p {
        font-size: 25px;
    }
}